<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="SpamClassifier" stopProcessing="true">
          <match url="^spam-classifier(.*)" />
          <action type="Rewrite" url="http://localhost:8000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpRedirect enabled="false" />
  </system.webServer>
</configuration>